/* Common */
.bg-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.blur {
    filter: blur(15px);
}

.blur-dark {
    filter: blur(15px) brightness(80%);
}

.dim {
    opacity: 0.7;
}

/* DropDown */
dropdown > popover {
    margin-top: 6px;
}

dropdown row:hover {
    border-radius: 5px;
}

dropdown list {
    background-color: transparent;
}

dropdown list > row {
    padding: 8px;
}

dropdown list row:selected:not(:hover) {
    background-color: transparent;
}

/* Games gridview */
#GamesGridView child:selected,
#GamesGridView child:focus,
#GamesGridView child:hover {
    background-color: transparent;
    outline: none;
}

#GamesGridView child:selected .game {
    border-radius: 5px;
    outline: 2px solid alpha(@accent_color, 0.5);
}

/* Game */
.game picture {
    border-radius: 5px;
}

.game .cover-none {
    margin: 0;
    border-radius: 5px;
}

/* Manage game */
#ManageGameWindow .button-add {
    margin-left: 5px;
}

/* Game details */
#NavigationPageGameDetails picture {
    border-radius: 5px;
}

#NavigationPageGameDetails .gradient-darken {
    background-image: linear-gradient(to bottom, transparent 200px, rgba(0, 0, 0, 0.9));
}

#NavigationPageGameDetails .background-transparent .boxed-list {
    background-color: alpha(@card_bg_color, .7);
}

#NavigationPageGameDetails .card.background-transparent {
    background-color: alpha(@card_bg_color, .2);
}

/* Link Entry */
.link-entry {
    padding-left: 0;
	padding-right: 0;
}

/* Links list box */
list.links {
	background-color: transparent;
}

list.links row {
	padding: 0;
}

list.links button {
	background-color: transparent;
	padding: 0;
}

list.links  button {
	color: @accent_color;
}

list.links  button:hover {
	color: @accent_fg_color;
}